html, body, *{
	margin: 0;
	padding: 0;
}

.top-header{
	background: #fff;
}

.txt-stp{
	font-size: 15px;
}



/***** GLOBAL USE *****/
.between-header-space{
	margin-top: 150px;
}


/***** FOOTER CSS *****/
.main-footer{
    width: 100%;
    background-color: #3a383c;
    margin-top: 90px;
    color: #fff;
    font-size: 14px;
}


.footer-alignment{
    margin: 0 50px;
}


/***** CARD CLASS PROPERTIES *****/
.card{
    border-radius: 2px;
}

.card-width{
	width: 15rem;
}

.card-link{
	transition: 0.5s;
	text-decoration: none;
	color: #000;
}

.card-link::hover{
	text-decoration: none;
	color: #0b5ed7;
}



/***** SLANTED VERSIONS *****/
.slanted-div {
  margin-top: 100px;
  color: #fff;
  position: relative;
  padding: 200px 0;
  background: #181818;
  overflow: visible;
  z-index: 1;
}



/* where the magic happens */
.slanted-div:before, .slanted-div:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  transform-origin: left top;
  transform: skewY(-3deg);
}

.slanted-div:after {
  top: 0;
  bottom: 0;
  transform-origin: left top;
}




/***** MEDIA AND OTHER *****/
