html, body, *{
	margin: 0;
	padding: 0;
    font-family: 'Lato', sans-serif;        /* Main font family */
}

.top-header{
	background: #fff;
}

.txt-stp{
	font-size: 15px;
}



/***** LONG TEXT CSS *****/
.about-me-text{
    font-size: 17px;
}

.text-sep{
    margin-top: 40px;   !important
}




/***** GLOBAL USE *****/
.between-header-space{
	margin-top: 150px;
}

.after-card-space{
    margin-top: 250px;
}

.list-group{
    list-style: none;
}




/***** LONG TEXT CSS *****/
.main-content{
    min-height: 400px;
    /*background: red8*/
}

.main-content-inside{
    margin: 0 25px;
}



/***** FOOTER CSS *****/
.main-footer{
    width: 100%;
    background-color: #3a383c;
    margin-top: 90px;
    color: #fff;
    font-size: 14px;
    list-decoration: none;
}


.footer-bold{
    font-weight: 50px;
}


.footer-alignment{
    margin: 0 50px;
}

footer{
    min-height: 175px;
    margin-top: px;
    max-width: 100%     !important
}


footer hr{
    max-width: 15em;
}



.footer-link{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}

.footer-link:hover{
    color: #fff;
    text-decoration: underline
}

.bi-github{
    font-size: 1rem;
    color: white;
}


.bi-github{
    font-size: 1rem;
    color: #fff;
}


.bi-github:hover{
    color: #b8b8b8;
}



.bi-twitter{
    font-size: 1rem;
    color: #fff;
}

.bi-twitter:hover{
    color: #1da1f2;
}

.bi-facebook{
    font-size: 1rem;
    color: #fff;
}

.bi-facebook:hover{
    color: #4267B2;
}

.footer-space{
    margin-top: 27px;
}



/***** CARD CLASS PROPERTIES *****/
.card{
    border-radius: 2px;
}

.card-width{
	width: 15rem;
}

.card-link{
	transition: 0.5s;
	text-decoration: none;
	color: #000;
}

.topic-name{
    font-size: 13px;
    font-weight: bold;
}



/***** BTN CLASS PROPERTIES *****/
.btn{
    border-radius: .05px
}




/***** TOPIC TITLE COLORS *****/
.topic-red{
    color: #800000;
}

.topic-green{
    color: #006600
}


.topic-blue{
    color: #004080;
}










/********************************************************************************/
/***** SLANTED VERSIONS *****/
.slanted-div {
  margin-top: 100px;
  color: #fff;
  position: relative;
  padding: 200px 0;
  background: #181818;
  overflow: visible;
  z-index: 1;
}



/* where the magic happens */
.slanted-div:before, .slanted-div:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  transform-origin: left top;
  transform: skewY(-3deg);
}

.slanted-div:after {
  top: 0;
  bottom: 0;
  transform-origin: left top;
}



/***** MEDIA AND OTHER *****/
@media screen (min-width: 768px){
    .topics{
        margin-top: 45px;
    }

    .follow-me{
        margin-top: 55px;
    }

    footer{
        min-height: 175px;
    }
}