html, body, *{
	margin: 0;
	padding: 0;
    font-family: 'Lato', sans-serif;        /* Main font family */
}

.top-header{
	background: #fff;
}


.txt-stp{
	font-size: 15px;
}



/********************************************************************************/
/***** LONG TEXT CSS *****/
.about-me-text{
    font-size: 17px;
}

.text-sep{
    margin-top: 40px;   !important
}



/********************************************************************************/
/***** GLOBAL USE *****/
.between-header-space{
	margin-top: 150px;
}


.after-card-space{
    margin-top: 250px;
}


.list-group{
    list-style: none;
}


.title{
    color: #000;
}


.sticky-top{
    box-shadow: 0px .2px;
}


.nav-item{
    color: #000;
}


.nav-link{
    color: #000
}


.nav-link:hover{
    text-decoration: underline
}



/********************************************************************************/
/***** CARD HOVER CSS *****/
.card{
    /* animation time (delay) */
    transition: 0.3s;
    border-radius: rgba(17, 12, 46, 0.15);
}


.card:hover{
    /* shadows */
    moz-box-shadow: 5px 5px 10px;
    box-shadow: 0px 48px 100px 0px rgba(17, 12, 46, 0.15) ;
}



/********************************************************************************/
/***** LONG TEXT CSS *****/
.main-content{
    /* TODO: ADD AN IMAGE WITH PERFECT SCALE */

    background-image: url("./img/main_index_image_00.png");
    background-repeat: no-repeat;
    color: #fff;
    min-width: 100%
}


.main-content-inside{
    margin: 0 25px;
    color: #fff !important;
}


.main-content-inside .title{
    color: #fff;
}



/********************************************************************************/
/***** FOOTER CSS *****/
.main-footer{
    width: 100%;
    background-color: #000;
    margin-top: 90px;
    color: #fff;
    font-size: 14px;
    list-decoration: none;
}


.footer-bold{
    font-weight: 50px;
    color: #fff
}


.footer-alignment{
    margin: 0 50px;
}


footer{
    min-height: 200px;
    max-width: 100%     !important
}


footer hr{
    max-width: 15em;
    color: #fff;
}


.footer-link{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}


.footer-link:hover{
    color: #fff;
    text-decoration: underline
}


.bi-github{
    font-size: 1rem;
    color: white;
}


.bi-github{
    font-size: 1rem;
    color: #fff;
}


.bi-github:hover{
    color: #b8b8b8;
}


.bi-twitter{
    font-size: 1rem;
    color: #fff;
}


.bi-twitter:hover{
    color: #1da1f2;
}


.bi-facebook{
    font-size: 1rem;
    color: #fff;
}


.bi-facebook:hover{
    color: #4267B2;
}


.bi-reddit{
    color: #fff;
}


.bi-facebook:hover{
    color: #4267B2;
}


.footer-space{
    margin-top: 27px;
}


.copyright{
    font-size: 10px;
    margin-top: 25px;
    color: #fff
}



/********************************************************************************/
/***** CARD CLASS PROPERTIES *****/
.card{
    border-radius: 2px;
}


.card-width{
	width: 15rem;
}


.card-link{
	transition: 0.5s;
	text-decoration: none;
	color: #000;
}


.topic-name{
    font-size: 13px;
    font-weight: 800;
}


/***** BTN CLASS PROPERTIES *****/
.btn{
    border-radius: .05px
}


.btn-dark{
    background-color: #000 !important;
    border-color: #000;
}


.btn-primary:hover{
    background-color: #323232  !important;
    border-color: #323232      !important;
}



/********************************************************************************/
/***** TOPIC TITLE COLORS *****/
.topic-red{
    color: #400000;
}

.topic-green{
    color: #004000;
}


.topic-blue{
    color: #000040;
}










/********************************************************************************/
/***** SLANTED VERSIONS *****/
.slanted-div {
  margin-top: 100px;
  color: #fff;
  position: relative;
  padding: 200px 0;
  background: #181818;
  overflow: visible;
  z-index: 1;
}



/* where the magic happens */
.slanted-div:before, .slanted-div:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  transform-origin: left top;
  transform: skewY(-3deg);
}

.slanted-div:after {
  top: 0;
  bottom: 0;
  transform-origin: left top;
}



/***** MEDIA AND OTHER *****/
@media (max-width: 768px){

    .projects .col-md-4{
        margin-top: 50px;
    }

    .travels .col-md-4{
        margin-top: 50px;
    }

    .tutorials .col-md-4{
        margin-top: 50px;
    }

    footer{
        min-height: 250px;
    }
}